@model EfRelationshipsAndGraphs.ViewModels.MoeViewModel

@{
    ViewBag.Title = "Create MOE";
}


<div class="row">
    <div class="col-md-6">
            @Html.LabelFor(m => m.CharterName, new { @class = "control-label" })
            @Html.EditorFor(m => m.CharterName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

            @Html.LabelFor(m => m.MoeName, new { @class = "control-label" })
            @Html.EditorFor(m => m.MoeName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

            @Html.LabelFor(m => m.ExpenditureName, new { @class = "control-label" })
            @Html.EditorFor(m => m.ExpenditureName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

            @Html.LabelFor(m => m.DirectSupportName, new { @class = "control-label" })
            @Html.EditorFor(m => m.DirectSupportName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

            @Html.LabelFor(m => m.ExemptionName, new { @class = "control-label" })
            @Html.EditorFor(m => m.ExemptionName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

            <hr />
            @Html.ActionLink("Back", "Index", "Moe", null, new { @class = "btn btn-default" })
            @Html.ActionLink("Edit", "Update", "Moe", new { moeId = Model.MoeId }, new { @class = "btn btn-default" })
    </div>
</div>