@model EfRelationshipsAndGraphs.ViewModels.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            @Html.HiddenFor(m => m.ParentId)
            @Html.HiddenFor(m => m.ChildId)

            @Html.LabelFor(m => m.ParentFirstName, new { @class = "control-label" })
            @Html.EditorFor(m => m.ParentFirstName, new { htmlAttributes = new { @class = "form-control" } })

            @Html.LabelFor(m => m.ParentLastName, new { @class = "control-label" })
            @Html.EditorFor(m => m.ParentLastName, new { htmlAttributes = new { @class = "form-control" } })

            @Html.LabelFor(m => m.ParentRole, new { @class = "control-label" })
            @Html.EditorFor(m => m.ParentRole, new { htmlAttributes = new { @class = "form-control" } })
            <hr />
            @Html.LabelFor(m => m.ChildFirstName, new { @class = "control-label" })
            @Html.EditorFor(m => m.ChildFirstName, new { htmlAttributes = new { @class = "form-control" } })

            @Html.LabelFor(m => m.ChildLastName, new { @class = "control-label" })
            @Html.EditorFor(m => m.ChildLastName, new { htmlAttributes = new { @class = "form-control" } })

            @Html.LabelFor(m => m.ChildAge, new { @class = "control-label" })
            @Html.EditorFor(m => m.ChildAge, new { htmlAttributes = new { @class = "form-control" } })

            <hr />
            <input type="submit" id="Save" value="Save" class="btn btn-primary" />
        }
    </div>
</div>